* {
    box-sizing: border-box;
}
body {
    font-size: 18px;
    padding: 0 15% 5%;
}
header {
    padding: 2rem;
}
h1, h2, h3 {
    text-align: center;
}
form {
    max-width: 600px;
    margin: 0 auto;
    color: white;
    background-color: #353535;
    /*Find a background image to give a whiteboard like texture*/
    padding: 1.5rem;
    border-radius: 10px;
    
}
fieldset {
    border: none;
}
fieldset li {
    list-style-type: none;
}

legend {
    font-weight: 600;
}

input {
    border-radius: 5px;
    border: none;
}

fieldset input, fieldset label {
    display: block;
}

.left-column {
    float: left;
    margin-right: 20px;
}

.right-column {
    float: left;
}

.clearfix:after { 
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
 }

.input1 {
    width: 150px;
}



.input2 {
    width: 110px;
}

