* {
    box-sizing: border-box;
}
body {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

header {
    padding: 2rem;
}

h1, h2, h3, h4, h5 {
    text-align: center;
    font-family: 'Bodoni Moda', serif;
    margin: 0;
}

form {
    margin: 0 auto;
    color: white;
    border: #1c1c1c 4px solid;
    background-color: #353535;
    /*Find a background image to give a whiteboard like texture*/
    padding: 1.5rem 5%;
    border-radius: 10px;
    max-width: 800px;
}


fieldset {
    border: none;
}
fieldset li {
    list-style-type: none;
}

legend {
    font-family: 'Montserrat', sans-serif;
}

input {
    border-radius: 5px;
    border: none;
}
label {
    text-align: center;
}

fieldset input, fieldset label {
    display: block;
}

button, select{
    color: #444444;
    font-size: 16px;
}

#calc-ref {
    width: 100px;
    display: inline;
    vertical-align: text-bottom;
}


.left-column {
    float: left;
    margin-right: 3rem;
}

.right-column {
    float: left;
}

.clearfix:after { 
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
 }

input[type=text] {
    height: 18px;
}

.input1 {
    width: 150px;
}

.input2 {
    width: 100px;
}

